 

#bgMission{
  background-color: aquamarine;
}
#search{
  margin-left: 15px;
}
#myTable{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
} 
#myTable td, #myTable th{
  border: 1px solid;
  padding: 8px;
} 
#myTable th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
   
  color: rgb(74, 21, 219);
}
#myTable tr:hover {background-color: rgb(235, 223, 223);}


.tableData{
  margin-left: 5px;
}


/*text area for adding business start*/
.description {
  width: 300px;
  height: 150px;
}
/*text area for adding business end */

/* Index navigation bar start */
 

.addYourBusiness{
  
  position: absolute;
  right: 90px;
  margin-right: 0px;
  padding-left: 14px;
}
/* Index navigation bar end*/




/* Sliding container homepage start */
  

/* Sliding container homepage end */





/* Footer start */
footer {
     
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color:#fff;
    padding-bottom: 0%;
    margin-bottom: 0%;
  }

/* Footer End */  