





@media (max-width: 767px) {
  .popularSearch {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .popularSearch {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .popularSearch {
    display: block !important;
  }
}

/* line 66, ../../Arafath/CL/December/235. Job board/HTML/scss/_category.scss */
 .popularSearch span {
  font-size: 18px;
  font-weight: 400;
  color: #001D38;
  margin-right: 20px;
}

@media (max-width: 767px) {
  /* line 66, ../../Arafath/CL/December/235. Job board/HTML/scss/_category.scss */
 .popularSearch span {
    margin-bottom: 20px;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 66, ../../Arafath/CL/December/235. Job board/HTML/scss/_category.scss */
 .popularSearch span {
    margin-bottom: 20px;
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 66, ../../Arafath/CL/December/235. Job board/HTML/scss/_category.scss */
  .popularSearch span {
    margin-bottom: 20px;
    display: block;
  }
}

/* line 86, ../../Arafath/CL/December/235. Job board/HTML/scss/_category.scss */
  .popularSearch ul li {
  display: inline-block;
  margin-right: 7px;
}

@media (max-width: 767px) {
  /* line 86, ../../Arafath/CL/December/235. Job board/HTML/scss/_category.scss */
  .popularSearch ul li {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 86, ../../Arafath/CL/December/235. Job board/HTML/scss/_category.scss */
  .popularSearch ul li {
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  
 .popularSearch ul li {
    margin-bottom: 15px;
  }
}

 
.popularSearch ul li a {
  color: #0A8CFF;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #CEE8FF;
  display: inline-block;
 
  padding: 7px 14px;
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 10px solid #CCCCCC;
  border-radius: 10px;
}

@media (max-width: 767px) {
  
   .popularSearch ul li a {
    font-size: 13px;
  }
}

 
  .popularSearch ul li a:hover {
  border-color: #0A8CFF;
}


#textMission{
  margin-left: -12%;
}


#indexButtonSearch{
  margin-left: 41%;
}
#indexSearch{
  margin-left: 160px;
}

#category{
  text-align: center;
  margin-left: 35%;
  max-width: 600px;
}
#bgMission{
  background-color: aquamarine;
}
#search{
  margin-left: 15px;
}
#myTable{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
} 
#myTable td, #myTable th{
  border: 1px solid;
  padding: 8px;
} 
#myTable th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
   
  color: rgb(74, 21, 219);
}
#myTable tr:hover {background-color: rgb(235, 223, 223);}


.tableData{
  margin-left: 5px;
}


/*text area for adding business start*/
.description {
  width: 300px;
  height: 150px;
}
/*text area for adding business end */

/* Index navigation bar start */
 

.addYourBusiness{
  
  position: absolute;
  right: 90px;
  margin-right: 0px;
  padding-left: 14px;
}
/* Index navigation bar end*/




/* Sliding container homepage start */
  

/* Sliding container homepage end */





/* Footer start */
footer {
     
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color:#fff;
    padding-bottom: 0%;
    margin-bottom: 0%;
  }

/* Footer End */  